:root{
    --fundo:#795000;
    --cartao-frente:#8B0000;
    --cartao-verso:#FF0000;
    --destaque:#FF8C00;
    --preto:#0000;
    --branco:#fff;
}
body{
    background-color: var(--fundo);
}